<div class="easy-data-tables__links">
  <a href="#" onclick="download_unformated_table_as_csv('easy_data_table');"><%= t('.download_unformated_csv') %></a>
  <span> | </span>
  <a href="#" onclick="download_formated_table_as_csv('easy_data_table');"><%= t('.download_formated_csv') %></a>
</div>